h1{
    float: center;
    text-align: center;
}

.options{
    
    display:flex;
    flex-wrap:wrap;
    position:absolute;
    top:13%; right:36%;
    width:600px;
    height:50px;
}

.options>.first{
    font-size:large;
    color: white;
    width:200px;
    height:50px;
    background-color: rgb(0, 140, 255);
}
.options>.second{
    font-size:large;
    color:white;
    width:200px;
    height:50px;
    background-color:rgb(255, 30, 0);
}
.options>.start{
    font-size:large;
    color:white;
    width:200px;
    height:50px;
    background-color:rgb(79, 128, 0);
}


.board{
    display:flex;
    flex-wrap:wrap;
    position:absolute;
    top:20%; right:36%;
    width:600px;
    height:600px;
}

.board > img{
    width:200px;
    height:200px;
}